<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/ie.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>Blog</title>
  </head>
  <body>
    <section>
      <%= yield %> 
    </section>
    <footer>
      Powered By <a href="http://www.padrinorb.com">Padrino</a>
    </footer>
  </body>
</html>

